@import './variables';


.menu-item {
    font-weight: 700;
    display: block;
    color:black;
    background: $mid-green;
    padding: 10px;
    border-bottom: 3px solid $darkest-green;
}

.menu-item-first {
    border-top: 3px solid $darkest-green;
}

.menu-item:active {
    text-decoration: none;
}
.menu-item:hover {
    text-decoration: none;
    color:white;
}

.menu-item:not(.is-active):hover {
    background:$dark-green;
    color:white;
}

.is-active {
    background:$darkest-green;
    color: white;
}

