@import "../variables";

.card-header-green {
    background: $mid-green;
}

.card-green {
    margin: 15px;
}

.checkpoint-card:last-child() .card-header 
{
    background:$darkest-green;
    color: white;

}
.checkpoint-card:first-child() .card-header 
{
    background:$darkest-green;
    color:white;
}
