// component styles
@import '../../node_modules/semantic-ui-css/semantic.min.css';
@import '../../node_modules/react-dates/lib/css/_datepicker.css';
@import '../../node_modules/rc-slider/assets/index.css';
@import '../../node_modules/rc-time-picker/assets/index.css';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./variables.scss";

// my styles
@import './redux-notifications';
@import './result-table';
@import './sidenav';

.is-active {
    color: aqua;
}
 

.main {
    margin-top: 10px;
    margin-left: 220px;
    padding-left: 10px;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .sideNav {
        left: -220px;
        transition: ease 1s;
    }
    .main {
        margin-left: 0px;
    }
}