// component styles

@import '../../node_modules/semantic-ui-css/semantic.min.css';
@import '../../node_modules/react-dates/lib/css/_datepicker.css';
@import '../../node_modules/rc-slider/assets/index.css';
@import '../../node_modules/rc-time-picker/assets/index.css';

@import './reset';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

// my styles
@import './common/headers';
@import './common/buttons';
@import './common/links';
@import './common/card-green';

@import './components/redux-notifications';
@import './result-table';
@import './components/Header/sidenav';
@import './components/Header/menu';
@import './components/HikeListFilter';
@import './components/HikeDetails/comment-box';
@import './components/HikeDetails/semantic-tab-green';
@import './components/HikeDetails/HikeDetailsComponent';
@import './components/HikeDetails/CourseDetailsFirstCard';
@import './components/HikeDetails/CheckPointList';
@import './components/UserPage/AddHikeHelperModal';
@import './components/UserPage/UserPage';
@import './components/loading';

 
.help-block {
    color: $danger-red;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }
