@import '../../node_modules/semantic-ui-css/semantic.min.css';
@import '../../node_modules/react-dates/lib/css/_datepicker.css';
@import '../../node_modules/rc-slider/assets/index.css';
@import '../../node_modules/rc-time-picker/assets/index.css';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './redux-notifications';

/* .sideNav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(204, 230, 255);
    overflow-x: hidden;
    padding-top: 10px;
    transition: ease 1s;
    border-right: solid 2px rgb(142, 200, 255);
} */