
  table.minimalistBlack {
    font-family: lato;
    border: 2px solid #000000;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    overflow-x: auto;
}

  table.minimalistBlack td, table.minimalistBlack th {
    border:2px solid #000000;
    padding: 5px 10px;
  }
  table.minimalistBlack tbody td {
    font-size: 13px;
  }
  table.minimalistBlack tr.male {
    background: rgb(154, 215, 255);
  }
  table.minimalistBlack tr.female {
    background: rgb(255, 128, 181);
  }
  table.minimalistBlack thead th {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  table.minimalistBlack tfoot td {
    font-size: 13px;
  }
