@import "../../variables";

.btn-close {
    position: relative;
    float: right;
    color: white;
    background: $danger-red;
    font-weight: 700;
}

.my-modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: $light-green;
    padding: 10px;
    border-radius: $border-radius-small;
    min-width: 20%;
}

.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.9);
}

