@import'../../variables';

.comment-box:nth-child(even) {
    background: $light-green;
}

.comment-box:nth-child(odd) {
    background: $mid-green;
}

.comment-box {
    word-wrap: break-word;
    border-radius: $border-radius-small;
    margin: 10px 0px;
    padding: 10px;
}

.comment-box .link, .comment-box div {
    font-size: 120%;
    font-weight: 700;
}

.comment-box div {
    position: relative;
    float: right;
}

.comment-box-own {
    border: $border solid $darkest-green;
}