@import '../variables';

.hike-list-filter {
    width: 100%;
    border: $border solid $darkest-green;
    padding: 10px 25px 40px 25px;
    border-radius: $border-radius-medium;
    margin-bottom: 10px;
}